@model RonwellHR.Application.HRReports.Models.HRReportDto
@{
    ViewData["Title"] = "HR Report";
}
<h2>HR Report</h2>
<ul>
    <li>Total Employees: @Model.TotalEmployees</li>
    <li>Total Projects: @Model.TotalProjects</li>
    <li>Total Training Sessions: @Model.TotalTrainingSessions</li>
</ul>
